<div id="hs-notifications"
     class="hs-overlay hidden w-full h-full fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto">
        <div class="relative flex flex-col bg-white border shadow-sm rounded-xl overflow-hidden dark:bg-gray-800 dark:border-gray-700">
            <div class="absolute top-2 right-2">
                <button type="button"
                        class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md text-gray-500 hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition-all text-sm dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800"
                        data-hs-overlay="#hs-notifications">
                    <span class="sr-only">Close</span>
                    <svg class="w-3.5 h-3.5" width="8" height="8" viewBox="0 0 8 8" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.258206 1.00652C0.351976 0.912791 0.479126 0.860131 0.611706 0.860131C0.744296 0.860131 0.871447 0.912791 0.965207 1.00652L3.61171 3.65302L6.25822 1.00652C6.30432 0.958771 6.35952 0.920671 6.42052 0.894471C6.48152 0.868271 6.54712 0.854471 6.61352 0.853901C6.67992 0.853321 6.74572 0.865971 6.80722 0.891111C6.86862 0.916251 6.92442 0.953381 6.97142 1.00032C7.01832 1.04727 7.05552 1.1031 7.08062 1.16454C7.10572 1.22599 7.11842 1.29183 7.11782 1.35822C7.11722 1.42461 7.10342 1.49022 7.07722 1.55122C7.05102 1.61222 7.01292 1.6674 6.96522 1.71352L4.31871 4.36002L6.96522 7.00648C7.05632 7.10078 7.10672 7.22708 7.10552 7.35818C7.10442 7.48928 7.05182 7.61468 6.95912 7.70738C6.86642 7.80018 6.74102 7.85268 6.60992 7.85388C6.47882 7.85498 6.35252 7.80458 6.25822 7.71348L3.61171 5.06702L0.965207 7.71348C0.870907 7.80458 0.744606 7.85498 0.613506 7.85388C0.482406 7.85268 0.357007 7.80018 0.264297 7.70738C0.171597 7.61468 0.119017 7.48928 0.117877 7.35818C0.116737 7.22708 0.167126 7.10078 0.258206 7.00648L2.90471 4.36002L0.258206 1.71352C0.164476 1.61976 0.111816 1.4926 0.111816 1.36002C0.111816 1.22744 0.164476 1.10028 0.258206 1.00652Z"
                              fill="currentColor"/>
                    </svg>
                </button>
            </div>

            <div class="p-4 sm:p-10 overflow-y-auto">
                <div class="mb-6 text-center">
                    <h3 class="mb-2 text-xl font-bold text-gray-800 dark:text-gray-200">
                        Answer these questions
                    </h3>
                </div>

                <div class="space-y-4">
                    {{ form_start(form, {
                        'attr': {
                            'id': 'bid-form'
                        }
                    }) }}
                    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
                        <div class="mb-8">
                            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                                About the project
                            </h2>
                            {#                                <p class="text-sm text-gray-600 dark:text-gray-400"> #}
                            {#                                    Manage your name, password and account settings. #}
                            {#                                </p> #}
                        </div>

                        <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                            {% for key, questionForm in form.questions %}
                                <div class="sm:col-span-3">
                                    <div class="inline-block">
                                        <label for="af-account-phone"
                                               class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                                            {{ questionForm.vars.data.question }}
                                        </label>
                                    </div>
                                </div>
                                <!-- End Col -->
                                <div class="sm:col-span-9">

                                    {{ form_widget(questionForm.answer, {
                                        'attr': {
                                            'class':'py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400',
                                            'placeholder': false,
                                            rows: "10"
                                        }
                                    }) }}

                                    {% do form.questions[key].setRendered %}
                                </div>

                            {% endfor %}

                        </div>

                        <br>

                        <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                            <div class="sm:col-span-3">
                                <div class="inline-block">
                                    <label for="af-account-phone"
                                           class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                                        Postcodes
                                    </label>
                                </div>
                            </div>
                            <!-- End Col -->
                            <div class="sm:col-span-9">

                                {{ form_widget(form.postcodes, {
                                    'attr': {
                                        'class':'py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400',
                                    }
                                }) }}

                            </div>
                        </div>

                        <div class="mb-8">

                        </div>

                        <div class="py-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200 dark:border-gray-700">
                            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                                About the fund
                            </h2>
                            <p class="text-sm text-gray-600 dark:text-gray-400">
                                Please insert any questions from the funder. List any relevant information to this
                                question.
                                Guidance from the funder. Max word count.<br>
                            </p>


                            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">

                                {#                <div class="sm:col-span-3"></div> #}
                                <div class="sm:col-span-12">
                                    <ul class="tags"
                                        data-index="{{ form.questions|length > 0 ? form.questions|last.vars.name + 1 : 0 }}"
                                        data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}"
                                    ></ul>

                                    <p class="mt-3">
                                        <button type="button"
                                                class="add_item_link inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 hover:underline font-medium"
                                                data-collection-holder-class="tags"
                                                data-controller="add"
                                        >Add a questions
                                        </button>
                                    </p>
                                </div>
                            </div>

                        </div>


                        {#                            <div class="mt-5 flex justify-end gap-x-2"> #}

                        {#                                <button type="submit" #}
                        {#                                        class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"> #}
                        {#                                    Save changes #}
                        {#                                </button> #}
                        {#                            </div> #}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>

            <div class="flex justify-end items-center gap-x-2 py-3 px-4 bg-gray-50 border-t dark:bg-gray-800 dark:border-gray-700">
{#                <p class="text-xs text-gray-600 dark:text-gray-400">Clicking on this button will consume 1 credit per#}
{#                    question</p>#}

                <input
                        type="submit"
                        form="bid-form"
                        class="py-2.5 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"/>
            </div>
        </div>
    </div>
</div>
