{% extends 'base.html.twig' %}

{% block title %}Fundin.ai{% endblock %}

{% block htmlClass %}light{% endblock %}

{% block bodyClass %}dark:bg-slate-900{% endblock %}

{% block body %}

    <main>
        {% if items %}
            <!-- Table Section -->
            <div class="">
                <!-- Card -->
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                                <!-- Header -->
                                <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
                                    <div>
                                        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                            Fundin.ai
                                        </h2>
                                    </div>


                                    <div>
                                        <div class="inline-flex gap-x-2">
                                            {#                                            {% if app.user.points > 0 %} #}
                                            {#                                                <button class=" #}
                                            {#                                    py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md #}
                                            {#                                    border border-transparent font-semibold bg-blue-500 text-white #}
                                            {#                                    hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 #}
                                            {#                                    focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" #}
                                            {#                                                        data-hs-overlay="#hs-notifications"> #}
                                            {#                                                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16" #}
                                            {#                                                         height="16" #}
                                            {#                                                         viewBox="0 0 16 16" fill="none" #}
                                            {#                                                         xmlns="http://www.w3.org/2000/svg"> #}
                                            {#                                                        <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" #}
                                            {#                                                              stroke="currentColor" #}
                                            {#                                                              stroke-width="2" stroke-linecap="round"/> #}
                                            {#                                                    </svg> #}
                                            {#                                                    Start new #}
                                            {#                                                </button> #}
                                            {#                                            {% else %} #}
                                            {#                                                <button type="button" #}
                                            {#                                                        class="                                    py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md #}
                                            {#                                    border border-transparent font-semibold bg-blue-500 text-white #}
                                            {#                                    hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 #}
                                            {#                                    focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800" #}
                                            {#                                                        data-hs-overlay="#hs-basic-modal"> #}
                                            {#                                                    Start new #}
                                            {#                                                </button> #}
                                            {#                                            {% endif %} #}
                                            {% if app.user.subscriptionActive and app.user.userTariffs.last.tariff.title == 'Premium' %}
                                                <button class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md
                                                                border border-transparent font-semibold bg-blue-500 text-white
                                                                hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500
                                                                focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                                        data-hs-overlay="#hs-notifications">
                                                    <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16"
                                                         height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2"
                                                              stroke="currentColor"
                                                              stroke-width="2" stroke-linecap="round"/>
                                                    </svg>
                                                    Start new
                                                </button>
                                            {% else %}
                                                <button class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md
                                                                border border-transparent font-semibold bg-blue-500 text-white
                                                                hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500
                                                                focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">

                                                    Subscribe to Premium to start new
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header -->

                                <div class="mb-4 py-4 px-6">
                                    <input id="searchFilter" type="text" placeholder="Search items"
                                        data-model="query"
                                        data-action="live#action"

                                        data-live-action-param="debounce(500)|search"

                                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    {#                    <button #}
                                    {#                            class="px-4 py-2 bg-blue-500 text-white rounded-md ml-2 hover:bg-blue-600 focus:outline-none focus:bg-blue-600"> #}
                                    {#                        Search #}
                                    {#                    </button> #}
                                </div>

                                <script>
                                document.getElementById('searchFilter').addEventListener('keyup', function() {
                                    var selectedStatus = this.value;
                                    var currentUrl = window.location.href;
                                    var newUrl = updateQueryStringParameter(currentUrl, 'search', selectedStatus);
                                    window.location.href = newUrl;
                                });

                                function updateQueryStringParameter(uri, key, value) {
                                    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                                    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
                                    if (uri.match(re)) {
                                        return uri.replace(re, '$1' + key + "=" + value + '$2');
                                    } else {
                                        return uri + separator + key + "=" + value;
                                    }
                                }
                            </script>

                                <!-- Table -->
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-slate-900">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                      Preview
                    </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        Generated time
                    </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">

                    </span>
                                            </div>
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">

                    </span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                    {% for item in items %}
                                        <tr>
                                            <td class="h-px w-px whitespace-nowrap">
                                                <div class="px-6 py-2">
                                                    <div class="flex items-center gap-x-2">

                                                        <div class="grow">
                                                    <span class="text-sm text-gray-600 dark:text-gray-400">
                                                        {{ item.answer.first.answer|striptags|slice(0, 40) }}
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="h-px w-px whitespace-nowrap">
                                                <div class="px-6 py-2">
                                                    <span class="text-sm text-gray-600 dark:text-gray-400">{{ item.createdAt|date }}</span>
                                                </div>
                                            </td>

                                            <td class="h-px w-px whitespace-nowrap">
                                                {% if item.answer.toarray|filter(a=>a.answer == null)|length == 0 %}
                                                    <a class="text-blue-500 hover:text-blue-700"
                                                       href="{{ path('app_answer', {
                                                           slug: item.slug
                                                       }) }}">view</a>
                                                {% else %}
                                                    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                                                    Processing
                                                {% endif %}
                                            </td>
                                            <td class="h-px w-px whitespace-nowrap">
                                                <a class="text-blue-500 hover:text-blue-700"
                                                   href="{{ path('app_answer_delete', {
                                                       slug: item.slug
                                                   }) }}">delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <!-- End Table -->
                                <!-- End Footer -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Table Section -->

            <!-- Footer -->
            <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
                <div>
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        <span class="font-semibold text-gray-800 dark:text-gray-200">{{ items.totalItemCount }}</span>
                        results
                    </p>
                </div>

                <div>
                    {% if items %}
                        <div class="inline-flex gap-x-2">
                            {% if items.paginationData.current != items.paginationData.first %}
                                <a type="button"
                                    href="{{ path('app_bid-writer', {
                                        page: items.paginationData.current - 1,
                                    }) }}"
                                    {% if items.pagination.currentPageNumber <= 1 %}disabled{% endif %}
                                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                    <svg class="w-3 h-3" width="16" height="16" viewBox="0 0 16 15" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.506 1.64001L4.85953 7.28646C4.66427 7.48172 4.66427 7.79831 4.85953 7.99357L10.506 13.64"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                    Prev
                                </a>
                            {% endif %}

                            {% if items.paginationData.current != items.paginationData.pageCount %}
                                <a type="button"
                                    href="{{ path('app_bid-writer', {
                                        page: items.paginationData.current + 1
                                    }) }}"
                                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                    Next
                                    <svg class="w-3 h-3" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.50598 2L10.1524 7.64645C10.3477 7.84171 10.3477 8.15829 10.1524 8.35355L4.50598 14"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- End Footer -->
        {% else %}
            <!-- Table Section -->
            <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                <!-- Card -->
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                                <!-- Header -->
                                <div class="px-6 py-4 border-b border-gray-200 dark:border-gray-700">
                                    <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                        Bid Writer
                                    </h2>
                                    <p class="text-sm text-gray-600 dark:text-gray-400">
                                        {#                                    Create invoices, edit, download and more. #}
                                    </p>
                                </div>
                                <!-- End Header -->

                                <!-- Body -->
                                <div class="max-w-sm w-full min-h-[400px] flex flex-col justify-center mx-auto px-6 py-4">
                                    <div class="flex justify-center items-center w-[46px] h-[46px] bg-gray-100 rounded-md dark:bg-gray-800">
                                        <svg class="w-6 h-6 text-gray-600 dark:text-gray-400"
                                             xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z"/>
                                            <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                    </div>

                                    <h2 class="mt-5 font-semibold text-gray-800 dark:text-white">
                                        No applications started yet
                                    </h2>

                                    <div class="mt-5 grid sm:flex gap-2">
                                        {% if app.user.subscriptionActive %}
                                            <button class="
                                    py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md
                                    border border-transparent font-semibold bg-blue-500 text-white
                                    hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500
                                    focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                                    data-hs-overlay="#hs-notifications" id="open-modal-btn">
                                                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" width="16"
                                                     height="16"
                                                     viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2"
                                                          stroke="currentColor"
                                                          stroke-width="2" stroke-linecap="round"/>
                                                </svg>
                                                Start new
                                            </button>
                                        {% else %}
                                            <button type="button"
                                                    class="
                                    py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md
                                    border border-transparent font-semibold bg-blue-500 text-white
                                    hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500
                                    focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                                    data-hs-overlay="#hs-basic-modal">
                                                Start new
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- End Body -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Table Section -->
        {% endif %}
    </main>


    {{ include('modals/bid.html.twig', {
        form: form
    }) }}

    {{ include('modals/no-points.html.twig', {
        message: 'You do not have enough points to submit new bid.'
    }) }}

{% endblock %}
