{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block htmlClass %}light{% endblock %}

{% block bodyClass %}dark:bg-slate-900{% endblock %}

{% block body %}

    <main>
        {% if items %}
            <!-- Table Section -->
            <div class="">
                <!-- Card -->
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                                <!-- Header -->
                                <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-gray-700">
                                    <div>
                                        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                            Projects
                                        </h2>
                                    </div>

                                    <div>
                                        <div class="inline-flex gap-x-2">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Header -->

                                <!-- Table -->
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-slate-900">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                      Grant
                    </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        Generated time
                    </span>
                                            </div>
                                        </th>

                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">

                    </span>
                                            </div>
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-left">
                                            <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">

                    </span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                    {% for item in items %}
                                        <tr>
                                            <td class="h-px w-px whitespace-nowrap">
                                                <div class="px-6 py-2">
                                                    <div class="flex items-center gap-x-2">

                                                        <div class="grow">
                                                    <span class="text-sm text-gray-600 dark:text-gray-400">
                                                        {{ item.grant }}
                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="h-px w-px whitespace-nowrap">
                                                <div class="px-6 py-2">
                                                    <span class="text-sm text-gray-600 dark:text-gray-400">{{ item.createdAt|date }}</span>
                                                </div>
                                            </td>

                                            <td class="h-px w-px whitespace-nowrap">
                                                <a
                                                        class="text-blue-500 hover:text-blue-700"
                                                        href="{{ path('app_grant_suggestion_view', {
                                                            slug: item.slug
                                                        }) }}"
                                                >
                                                    View
                                                </a>
                                            </td>
                                            <td class="h-px w-px whitespace-nowrap">
                                                <form action="{{ path('app_grant_suggestion_delete', {
                                                    slug: item.slug
                                                }) }}" method="post">
                                                    <button
                                                            class="text-blue-500 hover:text-blue-700"
                                                            type="submit"
                                                    >
                                                        Delete
                                                    </button>
                                                </form>

                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                                <!-- End Table -->
                                <!-- End Footer -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Table Section -->
        {% else %}
            <!-- Table Section -->
            <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                <!-- Card -->
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-slate-900 dark:border-gray-700">
                                <!-- Header -->
                                <div class="px-6 py-4 border-b border-gray-200 dark:border-gray-700">
                                    <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                        Projects
                                    </h2>
                                    <p class="text-sm text-gray-600 dark:text-gray-400">
                                        {#                                    Create invoices, edit, download and more. #}
                                    </p>
                                </div>
                                <!-- End Header -->

                                <!-- Body -->
                                <div class="max-w-sm w-full min-h-[400px] flex flex-col justify-center mx-auto px-6 py-4">
                                    <div class="flex justify-center items-center w-[46px] h-[46px] bg-gray-100 rounded-md dark:bg-gray-800">
                                        <svg class="w-6 h-6 text-gray-600 dark:text-gray-400"
                                             xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z"/>
                                            <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                    </div>

                                    <h2 class="mt-5 font-semibold text-gray-800 dark:text-white">
                                        You have don't suggestions yet.
                                    </h2>

                                    <div class="mt-5 grid sm:flex gap-2">
                                        <a
                                                href="{{ path('app_grant') }}"
                                                class="
                                    py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md
                                    border border-transparent font-semibold bg-blue-500 text-white
                                    hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500
                                    focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                                            <i class="fa-solid fa-sterling-sign"></i>
                                            Grants
                                        </a>
                                    </div>
                                </div>
                                <!-- End Body -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Table Section -->
        {% endif %}
    </main>

    {{ include('modals/no-points.html.twig', {
        message: 'You do not have enough points to submit new bid.'
    }) }}

{% endblock %}
